<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>אודות</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename=logo | default('images/logo.png')) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

{% extends "base.html" %}
{% block title %}אודות{% endblock %}
{% block content %}

    <div class="card-container1">
        <div class="card" style="height: auto; width: 75%; padding: 10px 15px 10px 44px; margin: 10px 0 0 0; display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 15px;">
            <img style="width: 33%; height: auto;" src="{{ url_for('static', filename='images/logo.png') }}">
            <img style="width: 33%; height: auto;" src="{{ url_for('static', filename='images/logo.png') }}">
            <img style="width: 33%; height: auto;" src="{{ url_for('static', filename='images/logo.png') }}">
        </div>

        <p style="direction: rtl; margin-top:20px;">
            © כל הזכויות שמורות.
        </p>
        <p style="direction: rtl; margin:0px;">
             ענף ענף/מדור מדור | 29.5.1/14
        </p>
    </div>


{% endblock %}
</body>
</html>
