<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ערים חדשות</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% extends "base.html" %}
{% block content %}

<!-------------------- PAGE TITLE -------------------->
<h2 style="
    margin: 200px 0 20px;
    direction: rtl;
    font-size: 52px;">
    איזור הערים החדשות
</h2>

{% endblock %}
</body>
</html>